soap-api-ejb/src/main/resources/wsdl/wsgen/WebServiceEJBName.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://api.soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="student" schemaLocation="WebServiceEJBName_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://api.soap/" schemaLocation="WebServiceEJBName_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="myWebMethod_PermAdmin">
    <part name="parameters" element="tns:myWebMethod_PermAdmin"/>
  </message>
  <message name="myWebMethod_PermAdminResponse">
    <part name="parameters" element="tns:myWebMethod_PermAdminResponse"/>
  </message>
  <message name="getListOfStudents_PermUser">
    <part name="parameters" element="tns:getListOfStudents_PermUser"/>
  </message>
  <message name="getListOfStudents_PermUserResponse">
    <part name="parameters" element="tns:getListOfStudents_PermUserResponse"/>
  </message>
  <message name="getWrappedListOfStudents_PermSoapLab1">
    <part name="parameters" element="tns:getWrappedListOfStudents_PermSoapLab1"/>
  </message>
  <message name="getWrappedListOfStudents_PermSoapLab1Response">
    <part name="parameters" element="tns:getWrappedListOfStudents_PermSoapLab1Response"/>
  </message>
  <message name="addElementToListOfStudents_PermUser">
    <part name="parameters" element="tns:addElementToListOfStudents_PermUser"/>
  </message>
  <message name="addElementToListOfStudents_PermUserResponse">
    <part name="parameters" element="tns:addElementToListOfStudents_PermUserResponse"/>
  </message>
  <message name="removeElementFromListOfStudents_PermAll">
    <part name="parameters" element="tns:removeElementFromListOfStudents_PermAll"/>
  </message>
  <message name="removeElementFromListOfStudents_PermAllResponse">
    <part name="parameters" element="tns:removeElementFromListOfStudents_PermAllResponse"/>
  </message>
  <message name="getListOfStudentsFilteredByName_PermAll">
    <part name="parameters" element="tns:getListOfStudentsFilteredByName_PermAll"/>
  </message>
  <message name="getListOfStudentsFilteredByName_PermAllResponse">
    <part name="parameters" element="tns:getListOfStudentsFilteredByName_PermAllResponse"/>
  </message>
  <message name="getlistOfStudentsCourses_PermAll">
    <part name="parameters" element="tns:getlistOfStudentsCourses_PermAll"/>
  </message>
  <message name="getlistOfStudentsCourses_PermAllResponse">
    <part name="parameters" element="tns:getlistOfStudentsCourses_PermAllResponse"/>
  </message>
  <message name="isCreatedWeb_PermAdmin">
    <part name="parameters" element="tns:isCreatedWeb_PermAdmin"/>
  </message>
  <message name="isCreatedWeb_PermAdminResponse">
    <part name="parameters" element="tns:isCreatedWeb_PermAdminResponse"/>
  </message>
  <message name="getImage_AsImage2String_PermAll">
    <part name="parameters" element="tns:getImage_AsImage2String_PermAll"/>
  </message>
  <message name="getImage_AsImage2String_PermAllResponse">
    <part name="parameters" element="tns:getImage_AsImage2String_PermAllResponse"/>
  </message>
  <message name="getImage_AsByteArray2String_PermAll">
    <part name="parameters" element="tns:getImage_AsByteArray2String_PermAll"/>
  </message>
  <message name="getImage_AsByteArray2String_PermAllResponse">
    <part name="parameters" element="tns:getImage_AsByteArray2String_PermAllResponse"/>
  </message>
  <message name="getImage_MimeDataHandler2String_PermAll">
    <part name="parameters" element="tns:getImage_MimeDataHandler2String_PermAll"/>
  </message>
  <message name="getImage_MimeDataHandler2String_PermAllResponse">
    <part name="parameters" element="tns:getImage_MimeDataHandler2String_PermAllResponse"/>
  </message>
  <message name="getImage_AsImage_Binary_PermAll">
    <part name="parameters" element="tns:getImage_AsImage_Binary_PermAll"/>
  </message>
  <message name="getImage_AsImage_Binary_PermAllResponse">
    <part name="parameters" element="tns:getImage_AsImage_Binary_PermAllResponse"/>
  </message>
  <message name="getImage_AsImage_MimeJpg_PermAll">
    <part name="parameters" element="tns:getImage_AsImage_MimeJpg_PermAll"/>
  </message>
  <message name="getImage_AsImage_MimeJpg_PermAllResponse">
    <part name="parameters" element="tns:getImage_AsImage_MimeJpg_PermAllResponse"/>
  </message>
  <message name="getImage_AsByteArray_PermAll">
    <part name="parameters" element="tns:getImage_AsByteArray_PermAll"/>
  </message>
  <message name="getImage_AsByteArray_PermAllResponse">
    <part name="parameters" element="tns:getImage_AsByteArray_PermAllResponse"/>
  </message>
  <message name="getImage_MimeDataHandler_PermAll">
    <part name="parameters" element="tns:getImage_MimeDataHandler_PermAll"/>
  </message>
  <message name="getImage_MimeDataHandler_PermAllResponse">
    <part name="parameters" element="tns:getImage_MimeDataHandler_PermAllResponse"/>
  </message>
  <portType name="WebServiceEJB_Name">
    <operation name="myWebMethod_PermAdmin">
      <input ns1:Action="http://api.soap/WebServiceEJB_Name/myWebMethod_PermAdminRequest" message="tns:myWebMethod_PermAdmin" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://api.soap/WebServiceEJB_Name/myWebMethod_PermAdminResponse" message="tns:myWebMethod_PermAdminResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getListOfStudents_PermUser">
      <input ns3:Action="http://api.soap/WebServiceEJB_Name/getListOfStudents_PermUserRequest" message="tns:getListOfStudents_PermUser" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://api.soap/WebServiceEJB_Name/getListOfStudents_PermUserResponse" message="tns:getListOfStudents_PermUserResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getWrappedListOfStudents_PermSoapLab1">
      <input ns5:Action="http://api.soap/WebServiceEJB_Name/getWrappedListOfStudents_PermSoapLab1Request" message="tns:getWrappedListOfStudents_PermSoapLab1" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://api.soap/WebServiceEJB_Name/getWrappedListOfStudents_PermSoapLab1Response" message="tns:getWrappedListOfStudents_PermSoapLab1Response" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addElementToListOfStudents_PermUser">
      <input ns7:Action="http://api.soap/WebServiceEJB_Name/addElementToListOfStudents_PermUserRequest" message="tns:addElementToListOfStudents_PermUser" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://api.soap/WebServiceEJB_Name/addElementToListOfStudents_PermUserResponse" message="tns:addElementToListOfStudents_PermUserResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeElementFromListOfStudents_PermAll">
      <input ns9:Action="http://api.soap/WebServiceEJB_Name/removeElementFromListOfStudents_PermAllRequest" message="tns:removeElementFromListOfStudents_PermAll" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://api.soap/WebServiceEJB_Name/removeElementFromListOfStudents_PermAllResponse" message="tns:removeElementFromListOfStudents_PermAllResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getListOfStudentsFilteredByName_PermAll">
      <input ns11:Action="http://api.soap/WebServiceEJB_Name/getListOfStudentsFilteredByName_PermAllRequest" message="tns:getListOfStudentsFilteredByName_PermAll" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://api.soap/WebServiceEJB_Name/getListOfStudentsFilteredByName_PermAllResponse" message="tns:getListOfStudentsFilteredByName_PermAllResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getlistOfStudentsCourses_PermAll">
      <input ns13:Action="http://api.soap/WebServiceEJB_Name/getlistOfStudentsCourses_PermAllRequest" message="tns:getlistOfStudentsCourses_PermAll" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://api.soap/WebServiceEJB_Name/getlistOfStudentsCourses_PermAllResponse" message="tns:getlistOfStudentsCourses_PermAllResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="isCreatedWeb_PermAdmin">
      <input ns15:Action="http://api.soap/WebServiceEJB_Name/isCreatedWeb_PermAdminRequest" message="tns:isCreatedWeb_PermAdmin" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns16:Action="http://api.soap/WebServiceEJB_Name/isCreatedWeb_PermAdminResponse" message="tns:isCreatedWeb_PermAdminResponse" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getImage_AsImage2String_PermAll">
      <input ns17:Action="http://api.soap/WebServiceEJB_Name/getImage_AsImage2String_PermAllRequest" message="tns:getImage_AsImage2String_PermAll" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns18:Action="http://api.soap/WebServiceEJB_Name/getImage_AsImage2String_PermAllResponse" message="tns:getImage_AsImage2String_PermAllResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getImage_AsByteArray2String_PermAll">
      <input ns19:Action="http://api.soap/WebServiceEJB_Name/getImage_AsByteArray2String_PermAllRequest" message="tns:getImage_AsByteArray2String_PermAll" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns20:Action="http://api.soap/WebServiceEJB_Name/getImage_AsByteArray2String_PermAllResponse" message="tns:getImage_AsByteArray2String_PermAllResponse" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getImage_MimeDataHandler2String_PermAll">
      <input ns21:Action="http://api.soap/WebServiceEJB_Name/getImage_MimeDataHandler2String_PermAllRequest" message="tns:getImage_MimeDataHandler2String_PermAll" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns22:Action="http://api.soap/WebServiceEJB_Name/getImage_MimeDataHandler2String_PermAllResponse" message="tns:getImage_MimeDataHandler2String_PermAllResponse" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getImage_AsImage_Binary_PermAll">
      <input ns23:Action="http://api.soap/WebServiceEJB_Name/getImage_AsImage_Binary_PermAllRequest" message="tns:getImage_AsImage_Binary_PermAll" xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns24:Action="http://api.soap/WebServiceEJB_Name/getImage_AsImage_Binary_PermAllResponse" message="tns:getImage_AsImage_Binary_PermAllResponse" xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getImage_AsImage_MimeJpg_PermAll">
      <input ns25:Action="http://api.soap/WebServiceEJB_Name/getImage_AsImage_MimeJpg_PermAllRequest" message="tns:getImage_AsImage_MimeJpg_PermAll" xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns26:Action="http://api.soap/WebServiceEJB_Name/getImage_AsImage_MimeJpg_PermAllResponse" message="tns:getImage_AsImage_MimeJpg_PermAllResponse" xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getImage_AsByteArray_PermAll">
      <input ns27:Action="http://api.soap/WebServiceEJB_Name/getImage_AsByteArray_PermAllRequest" message="tns:getImage_AsByteArray_PermAll" xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns28:Action="http://api.soap/WebServiceEJB_Name/getImage_AsByteArray_PermAllResponse" message="tns:getImage_AsByteArray_PermAllResponse" xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getImage_MimeDataHandler_PermAll">
      <input ns29:Action="http://api.soap/WebServiceEJB_Name/getImage_MimeDataHandler_PermAllRequest" message="tns:getImage_MimeDataHandler_PermAll" xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns30:Action="http://api.soap/WebServiceEJB_Name/getImage_MimeDataHandler_PermAllResponse" message="tns:getImage_MimeDataHandler_PermAllResponse" xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

